body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 20px); /* Adjusted width to fit inside the border */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.click-button {
  background-color: #3fbf43; /* Green color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.click-button:hover {
  background-color: #45a049; /* Darker green color on hover */
}

.download-button {
  background-color: #11101096; /* Blue color */
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #16d749; /* Darker blue color on hover */
}

.downloads {
  background-color: #ff0000; /* Blue color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.downloads:hover {
  background-color: #0a0a0a; /* Darker blue color on hover */
}

.error {
  color: red;
  margin-top: 10px;
}
